.gitconfig
.vsce
.wget-hsts
go/
csdevkit/
Workspace/
Library/
Downloads/
.vscode/
.templateengine/
.ssh/
.rustup/
.pki/
.omnisharp/
.local/
.nuget/
.npm/
.mozilla/
.mono/
.gradle/
.gnupg/
.dotnet/
.cargo/
.cache/
.bun/
.aspnet/
.ServiceHub/
.config/BraveSoftware/
.config/Code/
.config/NuGet/
.config/bleachbit/
.config/create-next-app-nodejs/
.config/dconf/
.config/mimeapps.list
.config/pavucontrol.ini
.config/systemd/
.config/pulse/
.config/nvim/
.config/nextjs-nodejs/
.config/gh/
.config/helix/
.config/kitty/
.config/yay/
.config/broot/
.config/lazygit/state.yml
fish_variables
.nix-profile
