* {
  font-family: "JetBrainsMonoNF";
  border-radius: 0;
  font-size: 13px;
  font-weight: bold;
  box-shadow: none;
  border: none;
  padding: 0;
  margin: 0;
}

window#waybar {
  background: transparent;
  color: #cdd6f4;
}

tooltip {
  background: rgba(30, 30, 46, 0.5);
  border-radius: 1rem;
  padding: 0 10px;
}

tooltip label {
  color: #cdd6f4;
}

.module {
  margin: 3px 0;
  background: #1e1e2e;
  border-radius: 2rem;
  padding: 0 10px;
}

#workspaces button {
  padding: 0 5px;
}

#workspaces button:hover {
  box-shadow: none;
  text-shadow: none;
  background: none;
  transition: none;
}

#workspaces button.visible {
  color: #cdd6f4;
}

#workspaces button.active {
  color: #7287fd;
}

#workspaces button.urgent {
  color: #e64553;
}

#workspaces button.persistent {
  color: #ea76cb;
}
